
.permission-node {
  min-width: 860px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-column-gap: 1rem;
  position: relative;
  /* &:after {
     content: "";
     display: block;
     position: absolute;
     !**
     indent + expand icon + checkbox padding
      *!
     left: calc(var(--indent) + #{24+9}px);
     bottom: 0;
     height: 1px;
     border-bottom: 2px dashed var(--tc-palette-divider);
     width: 100%;
   }*/




  .wd-treenode-selection {
    flex: 0 0 auto;
  }

  .wd-treenode-elementWrapper {
    display: flex;
    width: 100%;
    align-items: center;
    min-height: 38px;

    .wd-treenode-itemText {
      flex: 1 0 auto;
      align-items: center;
    }

    .wd-treenode-nodeTitleCont {
      flex: 1 1 0;
      min-width: 0;
      display: grid;
      grid-column-gap: .5rem;
      grid-template-columns:  1fr  auto auto auto;

      .permission-status-comp {
        width: 6em;
      }
    }
  }

  .wd-permissionNode-childElementWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    align-items: center;
    text-align: center;

    .stat {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 0;
      .text{
        min-width: 0;
        flex: 1 1 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

    }
  }
}
